<form [formGroup]="form" (ngSubmit)="sub()">
    <mat-form-field appearance="fill" class="mzid">  
        <input matInput placeholder="cin" formControlName="cin">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill" >  
        <input matInput placeholder="cin" formControlName="cin">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">  
        <input matInput placeholder="name" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">  
        <input matInput placeholder="cv" formControlName="cv">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">  
        <input matInput placeholder="type" formControlName="type">
    </mat-form-field>
    <br>
    <button type="submit">Submit</button>
</form>